<div class="row">
  <div class="col-md-8" id="app-title">
    <h1>To Do App</h1>
  </div>
  <div class="col-md-8">
    <div id="createToDo">
      <button type="submit" class="btn btn-primary" (click)="createToDo()">
        <i class="fa fa-solid fa-plus"></i>
      </button>
      <form
        role="form"
        class="form"
        *ngIf="showCreateToDo"
        (ngSubmit)="onSubmit(form)"
        #form="ngForm"
        ngNativeValidate
      >
        <div class="form-group row">
          <div class="col-md-5">
            <input
              type="text"
              name="title"
              id="title"
              [(ngModel)]="newTodo.title"
              placeholder="Title"
              class="form-control"
            />
          </div>
          <div class="col-md-5">
            <fieldset class="form-group">
              <select
                class="form-control"
                id="status"
                [(ngModel)]="newTodo.status"
                name="Status"
                required
                placeholder="d.ff"
              >
                <option hidden value="0" disabled selected>Select Status</option>
                <option *ngFor="let item of statusList" [value]="item.status">
                  {{ item.status }}
                </option>
              </select>
            </fieldset>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary" (click)="create()">
              <i class="fa fas fa-save"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="todos" *ngIf="todosList">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Title</th>
            <th class="h">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="todo"
            (dblclick)="editTodo(todo)"
            *ngFor="let todo of todosList"
          >
            <ng-container *ngIf="!editTodos.includes(todo); else editTD">
              <td>{{ todo.title }}</td>
              <td>{{ todo.status }}</td>
            </ng-container>

            <ng-template #editTD>
              <td>
                <input
                  type="text"
                  name="title"
                  id="title"
                  (keypress)="submitTodo($event, todo)"
                  [(ngModel)]="todo.title"
                  placeholder="Title"
                  class="form-control"
                />
              </td>
              <td>
                <input
                  type="text"
                  name="status"
                  id="status"
                  (keypress)="submitTodo($event, todo)"
                  [(ngModel)]="todo.status"
                  placeholder="Status"
                  class="form-control"
                />
              </td>
            </ng-template>

            <td class="o">
              <button class="btn btn-success" (click)="doneTodo(todo)">
                <i class="fa fa-check"></i>
              </button>
              <button class="btn btn-primary" (click)="editTodo(todo)">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="deleteTodo(todo)">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-8"></div>
</div>
