.row {
  display: flex;
  justify-content: center;
}

#app-title{
  text-align: center;
}

#createToDo{
  display: flex;
  justify-content: space-evenly;
}

.todos{
  margin: 20px;
}

.btn {
  cursor: pointer;
  margin: 2px;
}

td {
  white-space: nowrap;
  overflow: hidden;
}

.form-row{
  display: flex;
  justify-content: center;

  div{
    margin: 5px;
  }
}
